{% extends 'partials/base.html.twig' %}
{% set fullscreen = page.header.fullscreen %}

{% block content %}
<article class="box post post-excerpt">
  <header style="background-image:url('{{ page.media.images|first.cropResize(1038,437).url() }}')">
  	<div class="title">
        <div class="backpanel">
            <h2>{{ page.header.title }}</h2>	
        </div>
	</div>
    </header>
   {{ page.content}}
</article>
{% endblock %}
